body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited {

    background-color: red;

    color:black;

    text-decoration: none;

    padding: 14px 25px;

    border-radius: 40px;

    transition-duration: 1.0s;





        }

a:hover{

    background-color:red;

        }
.esquerda{
    float: left;
    
}

.direita {
    float: right;
    margin-top: 50px;
}



}
.espaco {
    
    clear: both;
}



